#include "c:\masm32\include\resource.h"

1		24		"XpTheme.xml"

#define		DLG_MAIN		1000
#define		IDC_LIST		1001
#define		IDC_REFRESH		1002

DLG_MAIN DIALOG DISCARDABLE  0, 0, 450, 200
STYLE    DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION  "枚举全局钩子 v0.0.1 by 一块三毛钱"
FONT     9, "宋体"
BEGIN
    CONTROL         "HookInfo",IDC_LIST,"SysListView32",LVS_REPORT | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,7,7,436,166
    PUSHBUTTON      "刷新(&R)",IDC_REFRESH,398,180,46,14,0
END

